<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Github.Ulex.ZenSharp.Integration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
          <probing privatePath="..\..\..\packages\JetBrains.ReSharper.SDK.8.2.1158\bin;bin" />
      	<dependentAssembly>
			</dependentAssembly>
		   <dependentAssembly>
            <assemblyIdentity name="Mono.Cecil" publicKeyToken="0738eb9f132ed756" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-0.9.6.0" newVersion="0.9.6.0" />
         </dependentAssembly>
      </assemblyBinding>
   </runtime>
   <applicationSettings>
      <Github.Ulex.ZenSharp.Integration.Properties.Settings>
         <setting name="ConfigPath" serializeAs="String">
            <value>Templates.ltg</value>
         </setting>
      </Github.Ulex.ZenSharp.Integration.Properties.Settings>
   </applicationSettings>
</configuration>
